@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-weight: bold;
}

.mobile-container {
    background-color: white;
    box-shadow: 0 0 10px 5px #3333331A;
    border-radius: 3px;
    overflow: hidden;
    width: 500px;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: whitesmoke;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
}

header button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    cursor: pointer;
}

.fav-container {
    background-color: rgba(136, 102, 231, 0.37);
    padding: 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    position: relative;
    width: 125px;
    cursor: pointer;
}

.fav-meals li img {
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
}

.fav-meals li span {
    font-size: 1rem;
}

.fav-meals li .clear {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 1.2rem;
    opacity: 0;
    cursor: pointer;
}

.fav-meals li:hover .clear {
     opacity: 1;
}

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331A;
    margin: 1.5rem;
    overflow: hidden;
    cursor: pointer;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 275px;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    color: rgb(204, 194, 198);
    font-size: 1.5rem;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: crimson;
}

.popup-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 2rem;
    border-radius: 5px;
    position: relative;
    max-height: 80vh;
    overflow: auto;
}

.meal-info h1 {
    text-align: center;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
}

.meal-info .text-align {
    overflow:  scroll;
}

.meal-info ul{
    font-size: large;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }