@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-weight: bold;
}

.mobile-container {
    background-color: white;
    box-shadow: 0 0 10px 5px #3333331A;
    border-radius: 3px;
    overflow: hidden;
    width: 500px;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: whitesmoke;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
}

header button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container {
    background-color: rgba(136, 102, 231, 0.37);
    padding: 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    width: 125px;
}

.fav-meals li img {
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
}

.fav-meals li span {
    font-size: 1rem;
}

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331A;
    margin: 1.5rem;
    overflow: hidden;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 275px;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    color: rgb(204, 194, 198);
    font-size: 1.5rem;
}

.meal-body .fav-btn.active {
    color: crimson;
}